* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #000000;
}
.clear-fix::after {
  content: '';
  font-size: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
html,
body {
  width: 100%;
  height: auto;
  background-color: #F5F5F5;
}
header {
  width: 100%;
  height: auto;
  background-color: #ff8a00;
}
header .left {
  float: left;
  padding: 0.05rem 0rem 0.05rem 0.2rem;
}
header .left img {
  width: 100%;
  display: block;
}
header .right {
  float: right;
  padding: 0.1rem 0.1rem 0.05rem 0rem;
}
header .right .img-1 {
  float: left;
  margin-right: 0.1rem;
}
header .right .img-1 img {
  width: 100%;
  display: block;
}
header .right .img-2 {
  float: left;
}
header .right .img-2 img {
  width: 100%;
  display: block;
}
main {
  position: relative;
}
main .search {
  padding: 0.15rem 0rem;
  border-bottom: 0.01rem solid #999999;
}
main .search .input {
  width: 90%;
  height: 0.4rem;
  background: url(../image/SecondHandList/search_03.png) no-repeat right -0.02rem;
  background-color: #ffffff;
  border: 0.01rem solid #999999;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
main .search .input input {
  outline: none;
  border: 0;
  padding-left: 0.2rem;
}
main .search .input span {
  font-size: 0.14rem;
  line-height: 0.4rem;
}
main .uls .li-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 0.5rem;
  background-color: #ffffff;
  text-align: center;
  border-bottom: 0.01rem solid #999999;
  z-index: 3;
}
main .uls .li-box .li {
  width: 25%;
  font-size: 0.2rem;
  font-weight: bold;
}
main .uls .li-box .li .li_ {
  display: block;
  color: #666666;
}
main .uls .li-box .li .add {
  position: absolute;
  display: none;
  z-index: 3;
  top: 1.24rem;
}
main .uls .li-box .li .add .left {
  float: left;
  width: 20%;
  font-size: 0.2rem;
  font-weight: normal;
  font-weight: bold;
  background-color: #F5F5F5;
}
main .uls .li-box .li .add .left p {
  width: 100%;
  text-align: center;
  padding: 0.2rem 0rem;
}
main .uls .li-box .li .add .left p:first-child {
  background-color: #ffffff;
  color: #ff8a00;
}
main .uls .li-box .li .add .right {
  float: left;
  width: 80%;
  background-color: #ffffff;
}
main .uls .li-box .li .add .right ul {
  padding-left: 1rem;
}
main .uls .li-box .li .add .right ul li {
  width: 40%;
  float: left;
  font-size: 0.14rem;
  font-weight: normal;
  color: #999999;
  padding-top: 0.2rem;
}
main .uls .li-box .li .add .right ul li:last-child {
  padding-bottom: 0.2rem;
}
main .uls .li-box .li .add .right ul li:nth-child(2) {
  color: #ff8a00;
}
main .uls .li-box .li .add .right ul li:nth-child(5) {
  color: #ff8a00;
}
main .uls .li-box .li .price {
  display: none;
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  z-index: 3;
  left: 0;
  top: 1.24rem;
}
main .uls .li-box .li .price a {
  display: block;
  width: 100%;
  height: auto;
}
main .uls .li-box .li .price a ul {
  margin: 0rem 0.2rem;
}
main .uls .li-box .li .price a ul li {
  font-size: 0.15rem;
  font-weight: normal;
  padding: 0.13rem 0rem;
  border-bottom: 0.01rem #999999 solid;
  display: flex;
  justify-content: space-between;
  color: #999999;
}
main .uls .li-box .li .price a ul li:nth-child(7) {
  border-bottom: none;
}
main .uls .li-box .li .home {
  display: none;
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  z-index: 3;
  left: 0;
  top: 1.24rem;
}
main .uls .li-box .li .home a {
  display: block;
  width: 100%;
  height: auto;
}
main .uls .li-box .li .home a ul {
  margin: 0rem 0.2rem;
}
main .uls .li-box .li .home a ul li {
  font-size: 0.15rem;
  font-weight: normal;
  padding: 0.13rem 0rem;
  border-bottom: 0.01rem #999999 solid;
  display: flex;
  justify-content: space-between;
}
main .uls .li-box .li .home a ul li:nth-child(6) {
  border-bottom: none;
}
main .uls .li-box .li .home a ul li:nth-child(7) {
  border-bottom: none;
  background-color: #ff8a00;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
main .uls .li-box .li .more {
  display: none;
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 1.24rem;
  z-index: 3;
}
main .uls .li-box .li .more .one {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 0.1rem;
  border-bottom: 0.01rem solid #999999;
}
main .uls .li-box .li .more .one .title {
  font-size: 0.18rem;
  font-weight: bold;
  padding: 0.2rem 0rem;
  text-align: left;
}
main .uls .li-box .li .more .one ul li {
  box-sizing: border-box;
  width: 22%;
  float: left;
  font-size: 0.16rem;
  font-weight: normal;
  border: 0.01rem solid #999999;
  margin-bottom: 0.1rem;
  margin-right: 0.1rem;
  text-align: center;
}
main .uls .li-box .li .more .true {
  font-size: 0.15rem;
  width: 100%;
  height: 0.4rem;
  text-align: center;
  color: #ffffff;
  line-height: 0.4rem;
  background-color: #ff8a00;
}
main .ul-content ul li a {
  display: block;
  display: flex;
  margin: 0.3rem 0.3rem 0.3rem 0.2rem;
  padding-bottom: 0.2rem;
  border-bottom: 0.02rem solid #ff8a00;
}
main .ul-content ul li a .li-img {
  width: 1rem;
  height: 1rem;
}
main .ul-content ul li a .li-img img {
  width: 100%;
}
main .ul-content ul li a .li-txt {
  margin-left: 0.2rem;
}
main .ul-content ul li a .li-txt .li-lable {
  font-weight: bold;
  font-size: 0.18rem;
  padding-bottom: 0.15rem;
}
main .ul-content ul li a .li-txt .li-tall {
  font-size: 0.16rem;
  padding-bottom: 0.07rem;
}
main .ul-content ul li a .li-txt .li-num {
  color: #999999;
  font-size: 0.12rem;
  padding-bottom: 0.07rem;
}
main .ul-content ul li a .li-txt .li-num span {
  color: #ff8a00;
  font-weight: bold;
  padding-left: 0.05rem;
}
main .layer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 2.24rem;
  left: 0;
  z-index: 2;
}
html,
body {
  width: 100%;
  height: auto;
  position: relative;
}
footer {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #2f3130;
}
footer .footer-title-box {
  border-bottom: 0.01rem solid #666666;
}
footer .footer-title-box .footer-title {
  font-size: 0.12rem;
  color: #999999;
  padding: 0.15rem 0.15rem 0.15rem 0.15rem;
}
footer .footer-content-box {
  margin-top: 0.15rem;
  margin-bottom: 0.22rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-content-box .footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.3rem 0rem 0.3rem;
}
footer .footer-content-box .footer-left .imgs {
  width: 0.37rem;
  height: 0.43rem;
}
footer .footer-content-box .footer-left .imgs img {
  width: 100%;
  display: block;
}
footer .footer-content-box .footer-left .footer-txt {
  padding-left: 0.1rem;
  font-size: 0.12rem;
  color: #999999;
}
footer .text {
  font-size: 0.12rem;
  color: #999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.15rem;
}
footer .text p:first-child {
  font-size: 0.14rem;
  padding-bottom: 0.08rem;
}
