* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.clear-fix::after {
  content: '';
  font-size: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
html,
body {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
}
main .banner {
  width: 100%;
  position: relative;
}
main .banner img {
  width: 100%;
  display: block;
}
main .banner .search {
  position: absolute;
  bottom: 0.3rem;
  left: 0.8rem;
  height: 0.3rem;
  font-size: 0;
  width: 80%;
}
main .banner .search input {
  width: 80%;
  height: 0.3rem;
  padding-left: 0.5rem;
  background: url(../素材/image/index/seach.jpg) no-repeat 0.1rem 0rem;
  background-color: #fff;
  background-size: contain;
  outline: none;
  border: none;
}
main .icon {
  width: 100%;
  height: auto;
  background-color: #FF8300;
}
main .icon ul {
  display: flex;
}
main .icon ul li {
  padding: 0.12rem 0.1rem 0rem 0.05rem;
  text-align: center;
}
main .icon ul li img {
  width: 100%;
}
main .icon ul li p {
  font-size: 0.13rem;
  color: #fff;
}
main .news img {
  width: 100%;
}
main .hot .h-title {
  height: 0.8rem;
  background-color: #FF8A00;
}
main .hot .h-title .h {
  padding-top: 0.1rem;
}
main .hot .h-title .h p {
  font-size: 0.13rem;
  color: #fff;
  padding-left: 0.3rem;
}
main .hot .h-title .h p:first-child {
  font-size: 0.25rem;
  margin-bottom: 0.03rem;
}
main .hot .uls li {
  border-bottom: 0.01rem solid #666666;
}
main .hot .uls li a {
  display: block;
  display: flex;
  text-decoration: none;
  color: #000000;
  padding: 0.3rem 0.3rem;
}
main .hot .uls li a .li-img {
  width: 1rem;
  height: 1rem;
}
main .hot .uls li a .li-img img {
  width: 100%;
  display: block;
  padding-top: 0.1rem;
}
main .hot .uls li a .li-txt {
  font-size: 0.13rem;
  padding-left: 0.2rem;
  width: 2rem;
}
main .hot .uls li a .li-txt p {
  padding-bottom: 0.08rem;
}
main .hot .uls li a .li-txt .p1 {
  font-size: 0.2rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .hot .uls li a .li-txt .p2 {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
main .hot .uls li a .li-txt .p2 .s1 {
  color: #FF8A00;
}
main .hot .uls li a .li-txt .p3 {
  display: flex;
  justify-content: space-between;
  color: #999999;
}
main .hot .uls li a .li-txt .p4 {
  display: flex;
  color: #999999;
}
main .hot .uls li a .li-txt .p4 .s3 {
  display: block;
  width: 0.5rem;
  height: 0.2rem;
  text-align: center;
  line-height: 0.2rem;
  background-color: #F4F7F9;
  margin-right: 0.2rem;
}
main .hot .uls li a .li-txt .p4 .s4 {
  display: block;
  width: 0.5rem;
  height: 0.2rem;
  text-align: center;
  background-color: #F4F7F9;
  line-height: 0.2rem;
  margin-right: 0.2rem;
}
main .hot .uls li a .li-txt .p4 .s5 {
  display: block;
  width: 0.7rem;
  height: 0.2rem;
  text-align: center;
  background-color: #F4F7F9;
  line-height: 0.2rem;
}
main .hot .uls li:last-child {
  border-bottom: none;
}
main .att .att-ti {
  display: flex;
  border-bottom: 0.01rem solid #FF8A00;
}
main .att .att-ti p {
  width: 50%;
  font-size: 0.2rem;
  text-align: center;
  padding: 0.1rem 0rem;
}
main .att .att-ti p:first-child {
  color: #FF8A00;
  border-bottom: 0.01rem solid #FF8A00;
}
main .att .att-ul ul li {
  float: left;
  width: 50%;
}
main .att .att-ul ul li p {
  font-size: 0.13rem;
  padding: 0.1rem 0.2rem 0.1rem 0.3rem;
}
